%h2 Welcome.
%h3 Please sign in.

= form_tag('/login') do
  Name
  %br
  = text_field :user, :name
  %br
  Password
  %br
  = password_field :user, :password
  %br
  = submit_tag("Sign in", :class => 'btn btn-primary')
  
%h4 New User?
= link_to "Sign up", {:action => "new", :controller => "users"}, :class => 'btn btn-primary'
