%h1 Total Statistics

= form_tag total_stats_path, :method => :get, :id => 'stats_form' do
  Include: 
  - @all_stats.each do |stat|
    = @real_stat_names[stat]
    = check_box_tag "stats[#{stat}]", 1, (@selected_stats.include?(stat) or @selected_stats == {})
  = submit_tag 'Update', :id => 'stats_submit'

= image_tag(@graph)

%table#total_stats.table.table-striped.table-bordered
  %thead
    %tr
      %th Log Time
      %th Number of Users
      %th Number of Caches
      %th Server Load

  %tbody
    - @stats.each do |stat|
      %tr
        %td= stat.log_time
        %td= stat.num_of_users
        %td= stat.num_of_caches
        %td= stat.server_load
