%h1 Total Statistics

= form_tag total_stats_path, :method => :get, :id => 'stats_form' do 
  - @all_stats.each do |stat|
    = @real_stat_names[stat]
    = check_box_tag "stats[#{stat}]", 1, (@selected_stats.include?(stat) or @selected_stats == {})
  = submit_tag 'Update', :id => 'stats_submit'

= image_tag(@graph)

%table#total_stats.table.table-striped.table-bordered
  %thead
    %tr
      %th Log Time
      - @selected_stat_names.each do |key|
        %th= @real_stat_names[key]

  %tbody
    - @stats.each do |stat|
      %tr
        %td= stat.log_time
        -@selected_stat_names.each do |key|
          %td= stat.send(key)
