%h1 Settings

= form_tag user_path(@user), :method => :get do

  = label :users, :disk_space, 'Disk Space'
  = text_field :disk_space, 'disk_space'

  = label :users, :bandwidth, 'Bandwidth'
  = text_field :bandwidth, 'bandwidth'

  %br
  = submit_tag 'Save Settings'
