%h2 Please sign up!

= form_for @user do |f|
  %p
    = f.label :name
    = f.text_field :name
  %br
  %p
    = f.label :password
    = f.password_field :password
  %p
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  %p.button
    = f.submit 'Create', :class => 'btn btn-primary'
