%h1 #{@course.title}
%h3 Course Description
%body 
  #{@course.description}

%h3 Videos

%table#videos.table.table-striped.table-bordered
  %thead
    %tr
      %th Title
      %th Length
      %th Date Added
  %tbody
    - @videos.each do |video|
      %tr
        %td= link_to "#{video.name}", course_video_path(@course.id, video) #this is a placeholder path for now
        %td= video.time
        %td= video.created_at.strftime("%d %b. %Y")
