%h2 #{@video.name}

%iframe{:id => "player", :allowfullscreen => "", :frameborder => "0", :height => "360", :src => @video.source, :width => "640"}
/ =image_tag "video_player.png", :alt => "#{@video.name}_video_player"

%h3 Other Videos for #{@course.title}

%table#videos.table.table-striped.table-bordered
  %thead
    %tr
      %th Name
      %th Length
      %th Date Added
  %tbody
    - @related_videos.each do |video|
      %tr
        %td= link_to "#{video.name}", course_video_path(@course.id, video) #this is a placeholder path for now
        %td= video.time
        %td= video.created_at.strftime("%d %b. %Y")
