.text-warning
  = @server_alert


%h2{:align => 'center'} Server Load Status

%div.row
  %div.span2
  %div.span8
    %div.progress-striped{:class=>@progress_bar_type}
      %div.bar{:style=>"width: #{@load_to_demand_percentage}%"}
.row-fluid
  .span9
    %h1 
      Courses
  .span3
    %br
    %div#settings{:align => "right"}
      =link_to 'Total Cache Statistics', total_stats_path, :style => "text-decoration: none", :class => 'btn btn-primary'
  
%br
%table#courses.table.table-striped.table-bordered
  %thead
    %tr
      %th Subject
      %th Course Title
  %tbody
    - @courses.each do |course|
      %tr
        %td= course.subject
        %td= link_to "#{course.title}", course_videos_path(course.id)
