!!! 5
%html
  %head
    %title FreeEdu
    = stylesheet_link_tag 'bootstrap'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    .navbar
      %h1.navbar-inner
        =link_to "FreeEdu", '/', :id => 'home_link', :style => "text-decoration: none"
        .pull-right
          %h3.nav
            - if @current_user
              =link_to 'Logout', logout_path, :style => "text-decoration: none"
            - else
              =link_to 'Login', auth_path, :method => :put, :style => "text-decoration: none"
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
    .container
      = yield
