!!! 5
%html
  %head
    %title FreeEdu
    = stylesheet_link_tag 'bootstrap'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .navbar
      %h1.navbar-inner
        =link_to "FreeEdu", '/', :id => 'home_link', :style => "text-decoration: none"
        .pull-right
          %h3.nav
            -if @current_user
              %li.btn-large
                =link_to 'Settings', settings_path, :style => "text-decoration: none"
          %h3.nav
            - if @current_user
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} 
                  %h5
                    %i.icon-user
                    =@current_user.name
                    %b.caret
                %ul.dropdown-menu.btn-small.pull-right{"role" => "menu", "aria-labelledby" => "dLabel"}
                  %li
                    %a{"href" => logout_path}
                      %i.icon-share
                      Logout
            - else
              =link_to 'Login', auth_path, :method => :put, :style => "text-decoration: none"
    #main
      = render 'layouts/flash_messages'
    .container
      = yield
